$color-primary-light:#7ed56f;
$color-primary-dark:#28b485;
$page_bg_color:rgba(230, 230, 230, 0.27);;

$max-width:1380px;
$nb_columns:12;
$h_gutter:20px;
$v_gutter:$h_gutter/2 ;
$one_column_width:calc(#{$max-width} - 11 * #{$h_gutter}) / 12;

